.chart
{
}
.chart__title{
    margin-top: 0px;
    min-height: 40px;	
	text-align: center;
}
.chart__graphic{
	
}
/*Legend*/
.chart__legend{
	
}
.chart__legend--inline{
	
}
.chart__legend--inline .legend__item {
  display: inline-block;
}
.legend__item--inline > * {
	display: inline-block;
}
.legend__item--inline > * + * {
  margin-left: 10px;
}

.legend__item-badge {
  width: 10px;
  height: 10px;
}